.App {
  text-align: center;
  padding-top: 20px;
}

body{
  background-color: aqua;
}

.NewWordContainer img {
  width: 100%;
}

.NewWordContainer{
  padding-top: 80px;
}

.navBar {
  display: flex;
  justify-content: center;
}