.App {
  text-align: center;
  padding-top: 20px;
}

.NewWordContainer img {
  width: 100%;
}


.NewWordContainer{
  padding-top: 80px;
}

.game{
  padding-top: 40px;
}

.navBar {
  display: flex;
  justify-content: center;
}